<h1><%= @store.name() %></h1>

<% if @store.brands().any?() %>
  <h3>A list of brands for this store, click a brand name to edit:</h3>

  <ul>
    <% @store.brands().each() do |brand| %>
      <li><a href="/brand_edit/<%= brand.id() %>"> <%= brand.name() %> </a></li>
      <li><%= brand.description() %> </li>
      <hr>
    <% end %>
  </ul>

  <% else %>
    <p>There are no brands assigned to this store!</p>
  <% end %>

  <h3>Add a brand to <%= @store.name() %> </h3>
  <form action="/store/<%= @store.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <% @brands.each do |brand| %>
      <input type="checkbox" name="brand_ids[]" value="<%= brand.id %>"> <%= brand.name %>
    <% end %>
    <button type="submit" name="button">Add brand</button>
  </form>

  <hr>
  <p><a href="/store_edit/<%= @store.id() %>">Edit <%= @store.name() %></a></p>
  <p><a href="/">Return to Main Page</a></p>
